[Desktop Entry]
Type=Application
Exec=gnome-terminal --working-directory=/home/markus/j/ionosonde --command "bash start_an.sh" 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Ionosonde analysis
Name=Ionosonde analysis
Comment[en_US]=
Comment=
